body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.olive-color{
color: olive;
}
.flexible-container{
    display: flex;
    margin: 100px;
    
}
.half-width{
    width: 50%;
    padding-left: 110px;
    margin-top: 100px;
   
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(97, 222, 247);
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: 700;
    
}
.misson-area-title{
    text-align: center;
}
.half-width p:last-child{
    padding: 50px 0px;
}
.misson-area-title span{
color:rgb(25, 207, 207)
}
.my-mission{
background-color: turquoise;
}
.mission-container{
    display:grid;
    width: 80%;
    margin: 0px auto;

    grid-template-columns: repeat(3,1fr);
     grid-gap: 20px; 
}
.mission-card{
   border-radius: 8px; 
    padding: 5px 20px;
}
.my-mission-area{
    width: 100%;
}
.card-image{
    width: 50%;
    height: auto;
    
}


